<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sub_menu.css">
    <script src="../js/jquery-3.7.0.min.js"></script>
    <script src="../js/sub-menu.js"></script>
    <style>
        
    </style>
</head>
<body>
    <section class="sub-menu">
        <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
        </div>
        <div class="overlay"></div>
        <div class="menu-container">
            <ul class="menu-wrapper">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div class="menu-underlay"></div>
        </div>
    </section>

</body>
</html>